body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
}

#quiz-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 100%;
    text-align: justify;
    color: #333;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #4b79a1;
}

.question {
    padding: 10px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 1em;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2);
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%; /* Largura total para ser mais responsivo */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #4CAF50;
    display: none;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    button {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    #quiz-container {
        padding: 20px;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 0.9em;
    }

    label {
        font-size: 0.9em;
    }

    button {
        font-size: 0.9em;
    }
}
